h1{
    background-color: lightblue;
    padding: 15px;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  
table, th, td,tbody {
    background-color: lightblue;
    margin: 0
  }
body{
      background-color: red;
  }