{% extends 'basic_opr_app/base.html' %}

{% block body_block%}



{% if registered %}
    <h1>از ثبت نام شما ممنونیم</h1>
{% else %}

<h1> در اینجا ثبت نام کنید</h1>
<h3>این فرم را پر کنید</h3>

<form  method="POST" enctype="multipart/form-data">

    <!-- چون داریم عکس میگیریم از طرف باید اینکریپشن کنیم -->
    <!-- ENC TYPE multi part form data  -->
    {% csrf_token %}
    {{ ins_form_reg.as_p }}
    {{ ins_form_profile.as_p }}
    <input type="submit" value="ثبت نام">
</form>
{% endif %}
{% endblock %}