.clean{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

body{
    color: white;
    background: rgb(73, 0, 70);
    padding: 20px;
    border: 30px solid rgb(255, 95, 255); 
    border-top: 0;
    margin: 0;
}

p{
    margin: 30px 12% 30px 12%;
}
form{
    text-align: center;
}
input{
    margin: 5px
}
#submit{
    width: 70px;
    height: 30px;
    background-color: rgb(219, 0, 110);
    color: white;
    font-weight: bold;
}
input{
    border-radius: 10px;border: 0px
}
label{
    font-weight: bold;
}