#top{
    border: 4px solid blue;
    width: 25%;
    text-align: center;
    /* مارجین ها از بالا به سمت راست میچرخند */
    /* بالا رلست پایین چپ */
    /* margin: 0 25% 0 0; */
    /* margin: 0 37.5% 0 0; */
    /* برای همیشه وسط بودن یک بلام باید درصد های آن را حساب کنیم
    کثلا برای 25 میشه وسط 37.5 درصد همیشه وسط
    اما با استفاده از مارجین آتو هیشه میره وسط */
    margin: auto;
}
#bot{
    border: 4px solid red;
}