<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>صفحه ی فرم</title>
</head>
<body>
    <div class="container" >
        <p></p>
    <h1 class="text-right" >صفحه ی فرم ها</h1>

    <div style="margin: 7em"></div>

            <div class="container  text-right">

                <form action="" method="POST" class="text-right">

                <input type="submit" value="ارسال" class="btn disabled btn-primary" name="" id="" disabled>
                </form>
        
        
            </div> 
        <p></p>
    </div>
</body>
</html>